<div class="container">
  <div class="columns">
    <div class="column">
      <div id="countryChart">
        <strong>Country Chart</strong>
        <span class="reset" style="display: none;"
          >Selected: <span class="filter"></span
        ></span>
        <a class="reset" (click)="resetCountryChart()" style="display: none;"
          >reset</a
        >

        <div class="clearfix"></div>
      </div>
    </div>

    <div class="column">
      <div id="tableChart">
        Table here
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div id="customerChart">
        <strong>Customer Chart</strong>
        <span class="reset" style="display: none;"
          >Selected: <span class="filter"></span
        ></span>
        <a class="reset" (click)="resetCustomerChart()" style="display: none;"
          >reset</a
        >

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
